{% extends 'base.html.twig' %}

{% block  title %}
    Mes Jeux
{% endblock %}

{% block body %}

	<h1 class="display-4 text-center my-5">Liste de vos jeux</h1>

	<div class="text-center my-5">
		<a href="" class="col-md-3 btn btn-secondary mb-2">Enregistrer un nouveau jeu</a>
	</div>




{% endblock %}