{% extends "base.html.twig" %}

{% block title %}
        BackOffice | Modification de la catégorie
{% endblock %}


{% block body %}
        <h1 class="h1 my-4">Modifier la catégorie</h1>

        {{ form_start(formCategory, {'attr' : {'class' : 'col-md-4 mx-auto'} })}}

                {{ form_row(formCategory.name, { 'label' : "Modifier la catégorie"}) }}

                <div class= "col-lg-10 d-flex justify-content-center mx-auto">
                <button type="submit" class="btn-jp mx-auto mt-4"> Enregister la modification</button>
                </div>

        {{ form_end(formCategory)}}




{% endblock %}