@font-face {
	font-family: 'Henny_Penny';
	src: url('../fonts/HennyPenny-Regular.ttf');
	font-family: 'Patrick_Hand';
	src: url('../fonts/PatrickHand-Regular.ttf');
}

/* ********************** BASE ********************** */

html, body, .container, .container-fluid, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, input, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, .row, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0; 
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
	color: rgb(0, 10, 30);
	font-family: 'Patrick_Hand', cursive; letter-spacing: 1px;
}

*::selection{
	color: white;
	background: rgb(0, 10, 30)
}

body {
    min-height: 100vh;
    padding: 5vh 0;
    background-image: url("../img/background.jpg"); 
    background-size: 120% 120%; 
    background-position: center; 
    background-repeat: no-repeat;
}

.container-fluid {
    min-height: 90vh;
    width: 85%; 
    margin: 0 auto;
    background-color: white; 
    padding: 5vh 4em; 
    border-radius: 10px; 
    box-shadow: rgba(0, 0, 0, 0.6) 0.1em 0.1em 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    min-height: 60vh;
}

.h1 {
    font-size: 3.2vw;
    color: #8a0030;
    text-align: center;
}

label {
    font-size: 1.4vw;
    font-style: italic;
    padding: 0 0.1rem;
}

input {
    font-size: 1.4vw;
    border: none !important;
    border-bottom: #000a1e solid 3px !important;
    padding: 0 0.5rem !important;
}

input:focus {
    box-shadow: none !important;
    border-bottom: #f3bc75 solid 3px !important;
}

.form-group {
	margin-bottom: 1.5rem;
}

.form-control {
    border-radius: 0;
}

a, a:hover {
    text-decoration: none;
    color: inherit;
}

.btn-jp {
    max-width: max-content;
    padding: 0.8vh 0.6em; 
    border-radius: 5px;
    border: #8a0030 solid 1px;
    background-color: #f7cc99; 
    color: #8a0030;
    font-size: 1.4vw;
    align-self: center;
}

.btn-jp:hover {
    background-color: #f3bc75;
    color: #8a0030;
}

#overlay
{
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.85);
	z-index: 10;
}

/* ********************** DEBUT HEADER ********************** */

header {
    margin-bottom: 3.7vh !important;
    position: relative;
}

header h2 a {
    font-family: 'Henny Penny', cursive; 
    font-size: 2vw; 
    font-weight: bold; 
    text-align: center; 
    color: transparent; 
    background-color: #8a0030;
    background-image: linear-gradient(to top, #001c42, #371950, #67004a, #8a0030, #990000); 
    background-size: 100% 100%; 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

header a {
    font-size: 1.4vw;
}

header a:last-child {
    padding-right: 0 !important;
}

header nav {
    z-index: 15;
    position: relative;
}

.nav_hover {
    height: 2px;
    width: 0;
    margin: 0 auto;
    background-color: #f3bc75;
    display: none;
}

header ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: max-content;
}

#pawn_icon {
    width: 22px;
    height: 22px;
    margin: 0 0.2em;
}

#account_icon, #logout_icon {
    width: 18px;
    height: 22px;
    margin: 0 0.2em;
}

header li {
    margin: 0 1em 0.8vh 1em;
}

header li:first-child, .dropdown-menu .dropdown-item:first-child, header li:first-child:hover, .dropdown-menu .dropdown-item:first-child:hover {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

header li:last-child, .dropdown-menu .dropdown-item:last-child, #navbarDropdown1, header li:last-child:hover, .dropdown-menu .dropdown-item:last-child:hover, #navbarDropdown1:hover {
    margin-right: 0 !important;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

header li:hover, #navbarDropdown1:hover, .dropdown-item:hover {
    color: #8a0030;
}

.dropdown-menu {
    background-color: #f7cc99;
    border-radius: 5px;
    padding: 0;
}

.dropdown-divider {
    margin: 0;
    border-top: 1px solid #f3bc75;
}

#navbarDropdown1, .dropdown-item {
    box-sizing: border-box;
    padding: 2vh 1.2rem !important;
}

#navbarDropdown1:hover, .dropdown-item:hover {
    background-color: #f3bc75;
}

nav button {
    border: none;
    background-color: transparent;
}

#burger {
    height: 35px;
    width: 35px;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(0, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.burger_line {
    height: 4px;
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    background-color: rgb(0, 10, 30);
}

.cross_line {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    display: none;
}

/* ********************** FIN HEADER ********************** */


/* ********************** DEBUT HOME ********************** */

.home {
    height: 100%;
    padding: 5vh 4em;
    background-image: url("../img/board-game-light.jpg"); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.home div:first-child {
    margin-bottom: 2vh;
}

.home h1 {
    font-family: 'Henny Penny', cursive; 
    font-size: 4vw; 
    font-weight: bold; 
    text-align: center; 
    color: transparent; 
    background-image: linear-gradient(to top, #001c42, #371950, #67004a, #8a0030, #990000); 
    background-size: 100% 100%; 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background-color: #8a0030;
    }

.dices_icon {
    width: 13%;
}

.dices_icon img {
    width: 70%;
    max-width: 80px;
    height: auto;
    max-height: 80px;
    margin: 0 1em;
}

.home p {
    font-size: 1.4vw;
    margin-bottom: 2vh;
}

#yvelines {
    font-weight: bold;
}

/* ********************** FIN HOME ********************** */


/* ********************** DEBUT LOGIN ********************** */

#ici {
    color: #8a0030;
}

/* ********************** BORDER CARDS CATALOGUE & DETAIL  ********************** */

.border-dark
{
    border-width:2px !important;

}

/* ********************** BORDER AFFICHAGE PROFIL & INSCRIPTION ********************** */
.border
{
    border: 3px solid black !important;
    border-radius: 15px;

}

/* ********************** BACKGROUND PROFIL + REGISTRATION ********************** */
.background_profil 
{
    background-image: url("../img/cartes-jouer-70797.jpg");
    
}
.background_registation
{
    background-image: url("../img/jeux-de-societe.jpg");
    background-size: cover;
}


/* ********************** DEBUT FOOTER ********************** */

footer {
    margin-top: 3vh;
    font-size: 1.2vw;
}

footer p, footer a, footer div {
    color: rgb(100, 100, 100);
}

footer p {
    font-style: italic;
}

footer a {
    margin: 0 1em;
}

/* ********************** FIN FOOTER ********************** */


/* ********************** DEBUT RESPONSIVE ********************** */

@media screen and (max-width: 991.98px) and (orientation: landscape) {  /* < 992 PAYSAGE */
    .container-fluid {
        width: 90%; 
        margin: 0 auto;
        padding: 2.5vh 2em; 
    }
    header {
        margin-bottom: 2.5vh !important;
    }
    header h2 a {
        font-size: 2.4vw;
    }
    header a {
        font-size: 1.8vw;
    }
    #pawn_icon, #account_icon, #logout_icon {
        width: 14px;
        height: 15px;
        margin: 0 0.5em;
    }
    header ul {
        position: absolute;
        right: 0;
        top: 10vh;
        flex-direction: column;
        align-items: flex-start;
        background-color: #f7cc99;
        border-radius: 5px;
        display: none;
    }
    header li {
        width: 100%;
        margin: 0;
        padding: 2vh 1.2rem;
    }
    header li:hover {
        background-color: #f3bc75;
        border-radius: 5px;
    }
    #burger {
        height: 30px;
        width: 30px;
    }
    /* ********************** FIN HEADER ********************** */
    
    /* ********************** DEBUT HOME ********************** */
    .home {
        padding: 3vh 2em;
    }
    .home p, .btn-jp {
        font-size: 1.8vw;
    }
    .dices_icon {
        width: 10%;
    }
    .dices_icon img {
        margin: 0 0.6em;
    }
    /* ********************** FIN HOME ********************** */
    
    /* ********************** DEBUT FOOTER ********************** */
    footer {
        font-size: 1.3vw !important;
    }
}

@media screen and (max-width: 991.98px) and (orientation: portrait) {   /* < 992 PORTRAIT */
    .container-fluid {
        width: 90%; 
        margin: 0 auto;
        padding: 2.5vh; 
    }
    header {
        margin-bottom: 2.5vh !important;
    }
    header h2 a {
        font-size: 4vw;
    }
    header a {
        font-size: 3vw;
    }
    #pawn_icon, #account_icon, #logout_icon {
        margin: 0 0.5em;
    }
    header ul {
        position: absolute;
        right: 0;
        top: 4.5vh;
        flex-direction: column;
        align-items: flex-start;
        background-color: #f7cc99;
        border-radius: 5px;
        display: none;
    }
    header li {
        width: 100%;
        margin: 0;
        padding: 1.5vh 1.5rem;
    }
    header li:hover {
        background-color: #f3bc75;
        border-radius: 5px;
    }
    /* ********************** FIN HEADER ********************** */
    
    /* ********************** DEBUT HOME ********************** */
    .home {
        padding: 3vh 2em;
    }
    .home h1 {
        font-size: 6vw;
    }
    .dices_icon img {
        margin: 0 0.6em;
    }
    .home p, .btn-jp {
        font-size: 3vw;
    }
    .home p {
        margin-bottom: 2.5vh;
    }
    /* ********************** FIN HOME ********************** */
    
    /* ********************** DEBUT FOOTER ********************** */
    footer {
        margin-top: 2.5vh;
        font-size: 2.2vw !important;
		flex-wrap: wrap;
    }
    footer p, footer div {
        width: 100%;
        text-align: center;
    }
    footer p {
        margin-bottom: 0.5vh;
    }

}

@media screen and (max-width: 575.98px) and (orientation: portrait) {   /* < 576 PORTRAIT */
    .container-fluid {
        width: 95%;
    }
    header h2 a {
        font-size: 4.5vw;
    }
    header a {
        font-size: 3.5vw;
    }
    #pawn_icon, #account_icon, #logout_icon {
        width: 12px;
        height: 13px;
    }
    header li {
        padding: 1.5vh 1rem;
    }
    #burger {
        height: 25px;
        width: 25px;
    }
    .burger_line {
        height: 3px;
    }
    /* ********************** FIN HEADER ********************** */
    
    /* ********************** DEBUT HOME ********************** */
    .home {
        padding: 3vh 1em;
    }
    .dices_icon {
        width: 15%;
    }
    .home p, .btn-jp {
        font-size: 3.5vw;
    }
    footer div {
        font-size: 2.5vw;
    }
}